In [42]:
!ls

Salary_dataset.csv  sample_data

In [43]:
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score


class DataLoader:

    def load_data(self, path):
        data = pd.read_csv(path)
        print("Dataset Loaded Successfully")
        return data

In [44]:
loader = DataLoader()

data = loader.load_data("Salary_dataset.csv")

data.head()

Dataset Loaded Successfully

   Unnamed: 0  YearsExperience   Salary
0           0              1.2  39344.0
1           1              1.4  46206.0
2           2              1.6  37732.0
3           3              2.1  43526.0
4           4              2.3  39892.0

In [45]:
class DataVerification:

    def verify_data(self, data):
        print("Dataset Info:\n")
        print(data.info())

        print("\nMissing Values:\n")
        print(data.isnull().sum())

In [46]:
verify = DataVerification()
verify.verify_data(data)

Dataset Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       30 non-null     int64
 1   YearsExperience  30 non-null     float64
 2   Salary           30 non-null     float64
dtypes: float64(2), int64(1)
memory usage: 852.0 bytes
None

Missing Values:

Unnamed: 0         0
YearsExperience    0
Salary             0
dtype: int64